–ê–Ω–∞–ª–∏—Ç–∏–∫–∞ —Å–ª–µ–¥—É—é—â–∞—è:
* –°–ª–∞–±—ã–µ –º–µ—Å—Ç–∞ (–∫—É–¥–∞ —É—Ö–æ–¥–∏—Ç –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ)
    - –¢–æ–ø –∫–∞—Ç–µ–≥–æ—Ä–∏–π –ø–æ —Ä–∞—Å—Ö–æ–¥–∞–º
    - –î–æ–ª–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π
    - –í—Å–ø–ª–µ—Å–∫–∏ —Ä–∞—Å—Ö–æ–¥–æ–≤ –ø–æ –¥–Ω—è–º (rule-based + ML anomaly)
* –†–µ–≥—É–ª—è—Ä–Ω—ã–µ –ø–ª–∞—Ç–µ–∂–∏
    - –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
    - –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø–µ—Ä–∏–æ–¥–∏—á–Ω–æ—Å—Ç—å (weekly, monthly)
    - –ò—Ç–æ–≥: —Å–ø–∏—Å–æ–∫ "–ø–æ—Ö–æ–∂–µ –Ω–∞ –ø–æ–¥–ø–∏—Å–∫—É/—Ä–µ–≥—É–ª—è—Ä–Ω—ã–π –ø–ª–∞—Ç—ë–∂"
* –≠–∫–æ–Ω–æ–º–∏—è –∏ "—Å–∫–æ–ª—å–∫–æ –º–æ–∂–Ω–æ –æ—Ç–ª–æ–∂–∏—Ç—å"
    - –ü–æ–ª–∏—Ç–∏–∫–∞ —ç–∫–æ–Ω–æ–º–∏–∏ (–ø—Ä–∞–≤–∏–ª–∞ –∏ –º–æ–¥–µ–ª—å)
    - –†–∞—Å—á—ë—Ç `potential_savings_total`
    - –†–∞–∑–ª–æ–∂–µ–Ω–∏–µ —ç–∫–æ–Ω–æ–º–∏–∏ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏ –∫–ª–∞—Å—Ç–µ—Ä–∞–º
    - –ò—Ç–æ–≥: "–µ—Å–ª–∏ —Å–Ω–∏–∑–∏—Ç—å X%, —Ç–æ –º–æ–∂–Ω–æ –æ—Ç–ª–æ–∂–∏—Ç—å Y —Ä—É–±–ª–µ–π –∑–∞ –ø–µ—Ä–∏–æ–¥ N"

In [2]:
from __future__ import annotations

import re
import math
from typing import Dict, Optional, List

import numpy as np
import pandas as pd

from sklearn.ensemble import IsolationForest
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sympy import pprint

In [3]:
FILE_PATH = "assets/03 –∏—é–ª—è 2025 - 03 —è–Ω–≤–∞—Ä—è 2026 (2).xlsx"

In [4]:
def _find_header_row(df_raw: pd.DataFrame, required_cols: List[str], max_scan: int = 200) -> int:
    """
    –í –≤—ã–ø–∏—Å–∫–∞—Ö —á–∞—Å—Ç–æ –µ—Å—Ç—å —Å–ª—É–∂–µ–±–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏ –¥–æ —Ç–∞–±–ª–∏—Ü—ã.
    –ò—â–µ–º —Å—Ç—Ä–æ–∫—É, –≥–¥–µ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ (–î–∞—Ç–∞/–°—É–º–º–∞/–ö–∞—Ç–µ–≥–æ—Ä–∏—è/–û–ø–∏—Å–∞–Ω–∏–µ).
    """
    best_i, best_score = 0, -1
    for i in range(min(len(df_raw), max_scan)):
        row = df_raw.iloc[i].astype(str).str.strip().tolist()
        row_set = set(row)

        score = sum(1 for c in required_cols if c in row_set)
        if score > best_score:
            best_score = score
            best_i = i

        # –µ—Å–ª–∏ –Ω–∞—à–ª–∏ –ø–æ—á—Ç–∏ –≤—Å—ë ‚Äî —ç—Ç–æ –æ–Ω–æ
        if score >= max(2, len(required_cols) - 1):
            return i

    if best_score <= 0:
        raise ValueError("–ù–µ —É–¥–∞–ª–æ—Å—å –Ω–∞–π—Ç–∏ —Å—Ç—Ä–æ–∫—É –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –≤ —Ñ–∞–π–ª–µ.")
    return best_i


def load_bank_xlsx(path: str) -> pd.DataFrame:
    df_raw = pd.read_excel(path, header=None)

    required = ["–î–∞—Ç–∞", "–°—É–º–º–∞", "–ö–∞—Ç–µ–≥–æ—Ä–∏—è", "–û–ø–∏—Å–∞–Ω–∏–µ"]
    header_row = _find_header_row(df_raw, required_cols=required)

    df = pd.read_excel(path, header=header_row)
    df = df.dropna(how="all").reset_index(drop=True)

    # —É–±–∏—Ä–∞–µ–º –º—É—Å–æ—Ä–Ω—ã–µ Unnamed –∫–æ–ª–æ–Ω–∫–∏
    df = df.loc[:, ~df.columns.astype(str).str.contains("^Unnamed")]
    return df


df_raw = load_bank_xlsx(FILE_PATH)
f_raw.head(10)

,–î–∞—Ç–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏,–î–∞—Ç–∞ –ø—Ä–æ–≤–æ–¥–∫–∏,–ö–æ–¥,–ö–∞—Ç–µ–≥–æ—Ä–∏—è,–û–ø–∏—Å–∞–Ω–∏–µ,–°—É–º–º–∞ –≤¬†–≤–∞–ª—é—Ç–µ¬†—Å—á–µ—Ç–∞,–°—Ç–∞—Ç—É—Å
0,03.07.2025,03.07.2025,C170307252005946,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C17030725200...,1¬†548,–í—ã–ø–æ–ª–Ω–µ–Ω
1,04.07.2025,04.07.2025,C460407250088613,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725008...,-614,–í—ã–ø–æ–ª–Ω–µ–Ω
2,04.07.2025,04.07.2025,C460407250086843,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725008...,-1¬†616,–í—ã–ø–æ–ª–Ω–µ–Ω
3,04.07.2025,04.07.2025,C460407250033028,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725003...,-841,–í—ã–ø–æ–ª–Ω–µ–Ω
4,04.07.2025,04.07.2025,OP1ED2574002545N,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,"–ü–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤ –≤ —Ä–∞–º–∫–∞—Ö —É—Å–ª—É–≥–∏ ""–ö–æ–ø–∏–ª–∫–∞ ...",-1,NaN
5,05.07.2025,05.07.2025,C460507250072255,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46050725007...,-200,–í—ã–ø–æ–ª–Ω–µ–Ω
6,05.07.2025,05.07.2025,C170507250215936,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C17050725021...,5¬†000,–í—ã–ø–æ–ª–Ω–µ–Ω
7,06.07.2025,06.07.2025,C460607250077032,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46060725007...,-688,–í—ã–ø–æ–ª–Ω–µ–Ω
8,06.07.2025,06.07.2025,OP1ED2576001GG6P,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,"–ü–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤ –≤ —Ä–∞–º–∫–∞—Ö —É—Å–ª—É–≥–∏ ""–ö–æ–ø–∏–ª–∫–∞ ...","-51,22",NaN
9,06.07.2025,06.07.2025,OP1ED2576001G2FO,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,"–ü–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤ –≤ —Ä–∞–º–∫–∞—Ö —É—Å–ª—É–≥–∏ ""–ö–æ–ø–∏–ª–∫–∞ ...","-88,10",NaN

In [5]:
def _to_datetime_safe(s: pd.Series) -> pd.Series:
    return pd.to_datetime(s, errors="coerce", dayfirst=True)


def _parse_money_series(s: pd.Series) -> pd.Series:
    """
    –ü—Ä–∏–≤–æ–¥–∏–º —Å—É–º–º—ã –∫ float:
    "1 234,56" -> 1234.56
    """
    if s.dtype.kind in "if":
        return s.astype(float)

    x = s.astype(str)
    x = x.str.replace("\u202f", " ", regex=False).str.replace("\xa0", " ", regex=False)
    x = x.str.replace(" ", "", regex=False)
    x = x.str.replace(",", ".", regex=False)
    x = x.str.replace(r"[^0-9\.\-]", "", regex=True)

    def _safe_float(v: str) -> float:
        try:
            if v in ("", "-", ".", "-."):
                return np.nan
            return float(v)
        except Exception:
            return np.nan

    return x.apply(_safe_float)


def _pick_col(columns: List[str], *variants: str) -> Optional[str]:
    low = {c: str(c).strip().lower() for c in columns}

    # —Ç–æ—á–Ω–æ–µ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ
    for v in variants:
        v = v.lower()
        for c, lc in low.items():
            if lc == v:
                return c

    # —á–∞—Å—Ç–∏—á–Ω–æ–µ
    for v in variants:
        v = v.lower()
        for c, lc in low.items():
            if v in lc:
                return c

    return None


def normalize_transactions(df: pd.DataFrame) -> pd.DataFrame:
    c_date = _pick_col(df.columns.tolist(), "–¥–∞—Ç–∞", "–¥–∞—Ç–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏", "–¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏")
    c_amount = _pick_col(df.columns.tolist(), "—Å—É–º–º–∞", "—Å—É–º–º–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏", "amount")
    c_cat = _pick_col(df.columns.tolist(), "–∫–∞—Ç–µ–≥–æ—Ä–∏—è", "category")
    c_desc = _pick_col(df.columns.tolist(), "–æ–ø–∏—Å–∞–Ω–∏–µ", "–æ–ø–∏—Å–∞–Ω–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏", "–Ω–∞–∑–Ω–∞—á–µ–Ω–∏–µ", "–∫–æ–Ω—Ç—Ä–∞–≥–µ–Ω—Ç", "merchant", "details")

    if c_date is None or c_amount is None:
        raise ValueError(f"–ù–µ –Ω–∞—à—ë–ª –æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ –¥–∞—Ç—ã/—Å—É–º–º—ã. –ö–æ–ª–æ–Ω–∫–∏: {list(df.columns)}")

    out = pd.DataFrame()
    out["op_date"] = _to_datetime_safe(df[c_date])
    out["amount"] = _parse_money_series(df[c_amount])

    out["category"] = df[c_cat].astype(str).str.strip() if c_cat else "–ë–µ–∑ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏"
    out["description"] = df[c_desc].astype(str).str.strip() if c_desc else ""

    # —á–∏—Å—Ç–∫–∞
    out = out.dropna(subset=["op_date", "amount"]).reset_index(drop=True)

    # –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é: —Ä–∞—Å—Ö–æ–¥—ã –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ)
    out["direction"] = np.where(out["amount"] < 0, "expense", "income")
    out["abs_amount"] = out["amount"].abs()

    out["month"] = out["op_date"].dt.to_period("M").astype(str)

    # merchant ‚Äî –≥—Ä—É–±–∞—è –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è —Å—Ç—Ä–æ–∫–∏ –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–æ–∫
    out["merchant"] = (
        out["description"]
        .fillna("")
        .str.lower()
        .str.replace(r"\s+", " ", regex=True)
        .str.replace(r"[^a-z–∞-—è0-9 &\-\.\_]", " ", regex=True)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
    )

    return out


tx = normalize_transactions(df_raw)
tx.head()

,op_date,amount,category,description,direction,abs_amount,month,merchant
0,2025-07-03,1548.0,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C17030725200...,income,1548.0,2025-07,–∫–∞—Ç–µ–≥–æ—Ä–∏—è –ø–µ—Ä–µ–≤–æ–¥ –ø–æ —Å–±–ø.–ø–µ—Ä–µ–≤–æ–¥ c170307252005...
1,2025-07-04,-614.0,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725008...,expense,614.0,2025-07,–∫–∞—Ç–µ–≥–æ—Ä–∏—è –ø–µ—Ä–µ–≤–æ–¥ –ø–æ —Å–±–ø.–ø–µ—Ä–µ–≤–æ–¥ c460407250088...
2,2025-07-04,-1616.0,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725008...,expense,1616.0,2025-07,–∫–∞—Ç–µ–≥–æ—Ä–∏—è –ø–µ—Ä–µ–≤–æ–¥ –ø–æ —Å–±–ø.–ø–µ—Ä–µ–≤–æ–¥ c460407250086...
3,2025-07-04,-841.0,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,–ö–∞—Ç–µ–≥–æ—Ä–∏—è: –ü–µ—Ä–µ–≤–æ–¥ –ø–æ –°–ë–ü.–ü–µ—Ä–µ–≤–æ–¥ C46040725003...,expense,841.0,2025-07,–∫–∞—Ç–µ–≥–æ—Ä–∏—è –ø–µ—Ä–µ–≤–æ–¥ –ø–æ —Å–±–ø.–ø–µ—Ä–µ–≤–æ–¥ c460407250033...
4,2025-07-04,-1.0,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,"–ü–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤ –≤ —Ä–∞–º–∫–∞—Ö —É—Å–ª—É–≥–∏ ""–ö–æ–ø–∏–ª–∫–∞ ...",expense,1.0,2025-07,–ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤ –≤ —Ä–∞–º–∫–∞—Ö —É—Å–ª—É–≥–∏ –∫–æ–ø–∏–ª–∫–∞ –¥...

In [6]:
# –Ø—á–µ–π–∫–∞ 6 ‚Äî data quality checks
tx.isna().mean().sort_values(ascending=False), tx.shape, tx["direction"].value_counts()

(op_date        0.0
 amount         0.0
 category       0.0
 description    0.0
 direction      0.0
 abs_amount     0.0
 month          0.0
 merchant       0.0
 dtype: float64,
 (1451, 8),
 direction
 expense    1132
 income      319
 Name: count, dtype: int64)

In [7]:
# –Ø—á–µ–π–∫–∞ 7 ‚Äî summary

def compute_summary(tx: pd.DataFrame) -> Dict:
    if tx.empty:
        return {"period": None, "income": 0.0, "expense": 0.0, "net": 0.0, "transactions": 0}

    period = (tx["op_date"].min().date().isoformat(), tx["op_date"].max().date().isoformat())

    income = float(tx.loc[tx["direction"] == "income", "amount"].sum())
    expense = float(tx.loc[tx["direction"] == "expense", "amount"].sum())  # –æ–±—ã—á–Ω–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ
    net = income + expense

    return {
        "period": period,
        "income": round(income, 2),
        "expense": round(expense, 2),
        "net": round(net, 2),
        "transactions": int(len(tx)),
    }

summary = compute_summary(tx)
summary

{'period': ('2025-07-03', '2026-01-03'),
 'income': 3400138.7,
 'expense': -3405597.75,
 'net': -5459.05,
 'transactions': 1451}

In [8]:
# –Ø—á–µ–π–∫–∞ 8 ‚Äî top categories

def top_categories(tx: pd.DataFrame, n: int = 10) -> pd.DataFrame:
    exp = tx[tx["direction"] == "expense"].copy()
    if exp.empty:
        return pd.DataFrame(columns=["category", "expense_abs", "share"])

    by = exp.groupby("category", dropna=False)["abs_amount"].sum().sort_values(ascending=False)
    total = float(by.sum()) if float(by.sum()) > 0 else 1.0

    out = by.head(n).reset_index()
    out.columns = ["category", "expense_abs"]
    out["share"] = out["expense_abs"] / total
    return out

topcats = top_categories(tx, n=10)
topcats

                category  expense_abs     share
0        –ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏   2967277.45  0.871294
1            –≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞    114768.00  0.033700
2        –¢–æ–≤–∞—Ä—ã –¥–ª—è –¥–æ–º–∞     72520.90  0.021295
3       –ö–∞—Ñ–µ –∏ —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã     59894.20  0.017587
4    –§–∏–Ω–∞–Ω—Å–æ–≤—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏     44231.85  0.012988
5         –û–¥–µ–∂–¥–∞ –∏ –æ–±—É–≤—å     38656.00  0.011351
6            –û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ     22287.00  0.006544
7               –ñ–∏–≤–æ—Ç–Ω—ã–µ     19081.90  0.005603
8  –¢–µ–ª–µ—Ñ–æ–Ω, –∏–Ω—Ç–µ—Ä–Ω–µ—Ç, –¢–í     15453.00  0.004538
9            –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è     13158.00  0.003864

In [9]:
# –Ø—á–µ–π–∫–∞ 9 ‚Äî recurring detection

def detect_recurring(
        tx: pd.DataFrame,
        min_occurrences: int = 3,
        tolerance_days: int = 5,
        amount_tolerance: float = 0.15,
) -> pd.DataFrame:
    exp = tx[tx["direction"] == "expense"].copy()
    if exp.empty:
        return pd.DataFrame()

    rows = []
    for (m, c), g in exp.groupby(["merchant", "category"]):
        if len(g) < min_occurrences:
            continue

        g = g.sort_values("op_date")
        deltas = np.diff(g["op_date"].values).astype("timedelta64[D]").astype(int)
        if len(deltas) < (min_occurrences - 1):
            continue

        med_delta = int(np.median(deltas))
        weekly_like = abs(med_delta - 7) <= tolerance_days
        monthly_like = abs(med_delta - 30) <= tolerance_days
        if not (weekly_like or monthly_like):
            continue

        amounts = g["abs_amount"].values.astype(float)
        med_amount = float(np.median(amounts))
        if med_amount <= 0:
            continue

        ok_amount = np.all(np.abs(amounts - med_amount) <= (amount_tolerance * med_amount))
        if not ok_amount:
            continue

        rows.append({
            "merchant": m,
            "category": c,
            "occurrences": int(len(g)),
            "median_amount": round(med_amount, 2),
            "period_days_median": med_delta,
            "period_type": "weekly" if weekly_like else "monthly",
            "last_date": str(g["op_date"].max().date()),
        })

    out = pd.DataFrame(rows)
    if out.empty:
        return out
    return out.sort_values(["period_type", "median_amount"], ascending=[True, False]).reset_index(drop=True)

recurring = detect_recurring(tx)
recurring.head(20)

,merchant,category,occurrences,median_amount,period_days_median,period_type,last_date
0,–≤–Ω—É—Ç—Ä–∏–±–∞–Ω–∫–æ–≤—Å–∫–∏–π –ø–µ—Ä–µ–≤–æ–¥ –º–µ–∂–¥—É —Å—á–µ—Ç–∞–º–∏ –∏—Å—É–ø–æ–≤ ...,–ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏,5,100.0,7,weekly,2025-08-05

In [10]:
# –Ø—á–µ–π–∫–∞ 10 ‚Äî spikes rule + ML

def daily_expenses(tx: pd.DataFrame) -> pd.DataFrame:
    exp = tx[tx["direction"] == "expense"].copy()
    if exp.empty:
        return pd.DataFrame(columns=["day", "expense_abs"])

    d = exp.groupby(exp["op_date"].dt.date)["abs_amount"].sum().reset_index()
    d.columns = ["day", "expense_abs"]
    return d

def detect_spikes_rule(daily: pd.DataFrame, z: float = 2.5) -> pd.DataFrame:
    if daily.empty:
        return pd.DataFrame()

    mu = float(daily["expense_abs"].mean())
    sd = float(daily["expense_abs"].std(ddof=0) or 0.0)

    out = daily.copy()
    out["z"] = 0.0 if sd == 0 else (out["expense_abs"] - mu) / sd
    return out[out["z"] >= z].sort_values("z", ascending=False).reset_index(drop=True)

def detect_spikes_ml(daily: pd.DataFrame, contamination: float = 0.03, random_state: int = 42) -> pd.DataFrame:
    if daily.empty or len(daily) < 15:
        return pd.DataFrame()

    X = daily[["expense_abs"]].values.astype(float)
    model = IsolationForest(n_estimators=300, contamination=contamination, random_state=random_state)
    model.fit(X)

    out = daily.copy()
    out["score"] = model.decision_function(X)  # –Ω–∏–∂–µ => –±–æ–ª–µ–µ –∞–Ω–æ–º–∞–ª—å–Ω–æ
    out["anomaly"] = model.predict(X)          # -1 => –∞–Ω–æ–º–∞–ª–∏—è
    return out[out["anomaly"] == -1].sort_values("score").reset_index(drop=True)

daily = daily_expenses(tx)
spikes_rule = detect_spikes_rule(daily, z=2.5)
spikes_ml = detect_spikes_ml(daily, contamination=0.03)

daily.head(), spikes_rule.head(10), spikes_ml.head(10)

(          day  expense_abs
 0  2025-07-03      1068.85
 1  2025-07-04      3757.73
 2  2025-07-05       200.00
 3  2025-07-06      4602.00
 4  2025-07-07      6306.00,
           day  expense_abs         z
 0  2025-12-25    123543.00  3.992251
 1  2025-10-31    123024.00  3.972524
 2  2025-11-20    121173.18  3.902176
 3  2025-11-21    106099.94  3.329257
 4  2025-12-04    105511.98  3.306910
 5  2025-10-29     94182.70  2.876295
 6  2025-12-29     92064.99  2.795803
 7  2025-09-01     90426.88  2.733540
 8  2025-12-17     87980.26  2.640546,
           day  expense_abs     score  anomaly
 0  2025-11-20    121173.18 -0.098334       -1
 1  2025-12-25    123543.00 -0.083354       -1
 2  2025-10-31    123024.00 -0.067293       -1
 3  2025-11-21    106099.94 -0.038370       -1
 4  2025-12-04    105511.98 -0.037376       -1
 5  2025-12-20     75512.00 -0.001401       -1)

In [11]:
# –Ø—á–µ–π–∫–∞ 11 ‚Äî clustering

def cluster_expenses(tx: pd.DataFrame, n_clusters: int = 8, min_docs: int = 50, random_state: int = 42) -> pd.DataFrame:
    exp = tx[tx["direction"] == "expense"].copy()
    if exp.empty or len(exp) < min_docs:
        return pd.DataFrame()

    texts = (exp["merchant"].fillna("") + " " + exp["category"].fillna("")).str.strip()
    texts = texts.replace("", np.nan).dropna()

    exp = exp.loc[texts.index].copy()
    texts = texts.loc[exp.index]

    vectorizer = TfidfVectorizer(max_features=5000, ngram_range=(1, 2), min_df=2)
    X = vectorizer.fit_transform(texts)

    k = min(n_clusters, max(2, int(math.sqrt(len(exp)))))
    model = KMeans(n_clusters=k, random_state=random_state, n_init="auto")
    labels = model.fit_predict(X)

    exp["cluster"] = labels

    # –∞–≥—Ä–µ–≥–∞—Ç –ø–æ –∫–ª–∞—Å—Ç–µ—Ä–∞–º
    agg = exp.groupby("cluster")["abs_amount"].sum().sort_values(ascending=False).reset_index()
    agg.columns = ["cluster", "expense_abs"]

    # 3 –∫–ª—é—á–µ–≤—ã—Ö —Ç–µ—Ä–º–∏–Ω–∞ –¥–ª—è –æ–±—ä—è—Å–Ω–∏–º–æ—Å—Ç–∏
    feature_names = np.array(vectorizer.get_feature_names_out())
    centers = model.cluster_centers_

    keywords = []
    for cl in agg["cluster"].values:
        top_idx = np.argsort(centers[cl])[-5:][::-1]
        keywords.append(", ".join(feature_names[top_idx][:3]))

    agg["keywords"] = keywords
    return agg

clusters = cluster_expenses(tx, n_clusters=8, min_docs=50)
clusters.head(15)

   cluster  expense_abs                                      keywords
0        0   1317859.78          –ø–µ—Ä–µ–≤–æ–¥, –Ω–∞ 79127458900, 79127458900
1        3   1148110.51                          —Å—á, —Å–æ —Å—á, –∏—Å—É–ø–æ–≤ —Å–æ
2        1    526927.68                          ru, 2025, 2025 –º–µ—Å—Ç–æ
3        4    176290.60                        mcc 3990, 3990, yandex
4        6     92857.00  –Ω–∞ 79859437117, 79859437117 –±–µ–∑, 79859437117
5        7     75873.75        moscow dostavka, dostavka, 5411 –ø—Ä–æ—á–∏–µ
6        5     63887.20               —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã, –∫–∞—Ñ–µ —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã, –∫–∞—Ñ–µ
7        2      3791.23  –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥—Å—Ç–≤, –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω–∏–µ, —Å–æ —Å—á–µ—Ç–∞

In [12]:
# –Ø—á–µ–π–∫–∞ 12 ‚Äî savings estimation (simple policy)

DEFAULT_SAVING_RULES = [
    (r"–∫–∞—Ñ–µ|—Ä–µ—Å—Ç–æ—Ä–∞–Ω|—Ñ–∞—Å—Ç—Ñ—É–¥|–µ–¥–∞ –≤–Ω–µ –¥–æ–º–∞", 0.20, "—á–∞—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞–º–µ–Ω–∏—Ç—å –¥–æ–º–∞—à–Ω–µ–π –µ–¥–æ–π"),
    (r"—Ç–∞–∫—Å–∏", 0.15, "—á–∞—Å—Ç—å –ø–æ–µ–∑–¥–æ–∫ –∑–∞–º–µ–Ω–∏—Ç—å –æ–±—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–º —Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–æ–º"),
    (r"–ø–æ–¥–ø–∏—Å–∫", 0.30, "–ø—Ä–æ–≤–µ—Ä–∏—Ç—å –ø–æ–¥–ø–∏—Å–∫–∏ –∏ –æ—Ç–º–µ–Ω–∏—Ç—å –ª–∏—à–Ω–∏–µ"),
    (r"–º–∞—Ä–∫–µ—Ç|–¥–æ—Å—Ç–∞–≤–∫–∞|–æ–Ω–ª–∞–π–Ω", 0.10, "—Å–æ–∫—Ä–∞—Ç–∏—Ç—å –∏–º–ø—É–ª—å—Å–Ω—ã–µ –∑–∞–∫–∞–∑—ã"),
    (r"—Ä–∞–∑–≤–ª–µ—á|–∫–∏–Ω–æ|–∏–≥—Ä", 0.10, "–ø–ª–∞–Ω–∏—Ä–æ–≤–∞—Ç—å —Ä–∞–∑–≤–ª–µ—á–µ–Ω–∏—è –∑–∞—Ä–∞–Ω–µ–µ"),
]

def estimate_savings(tx: pd.DataFrame, rules=DEFAULT_SAVING_RULES) -> pd.DataFrame:
    exp = tx[tx["direction"] == "expense"].copy()
    if exp.empty:
        return pd.DataFrame()

    cat_sum = exp.groupby("category")["abs_amount"].sum().reset_index()
    cat_sum.columns = ["category", "expense_abs"]

    rows = []
    for _, r in cat_sum.iterrows():
        cat = str(r["category"])
        val = float(r["expense_abs"])

        matched = None
        for pat, reduction, comment in rules:
            if re.search(pat, cat.lower()):
                matched = (reduction, comment)
                break

        if matched is None:
            continue

        reduction, comment = matched
        rows.append({
            "category": cat,
            "expense_abs": round(val, 2),
            "target_reduction": reduction,
            "potential_saving": round(val * reduction, 2),
            "comment": comment
        })

    out = pd.DataFrame(rows)
    if out.empty:
        return out
    return out.sort_values("potential_saving", ascending=False).reset_index(drop=True)

savings = estimate_savings(tx)
savings.head(20), float(savings["potential_saving"].sum()) if not savings.empty else 0.0

(           category  expense_abs  target_reduction  potential_saving  \
 0  –ö–∞—Ñ–µ –∏ —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã      59894.2               0.2          11978.84

                                 comment
 0  —á–∞—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞–º–µ–Ω–∏—Ç—å –¥–æ–º–∞—à–Ω–µ–π –µ–¥–æ–π  ,
 11978.84)

In [13]:
# –Ø—á–µ–π–∫–∞ 13 ‚Äî report builder

def build_report(tx: pd.DataFrame) -> Dict:
    summary = compute_summary(tx)
    topcats = top_categories(tx, n=10)
    recurring = detect_recurring(tx)
    daily = daily_expenses(tx)
    spikes_rule = detect_spikes_rule(daily, z=2.5)
    spikes_ml = detect_spikes_ml(daily, contamination=0.03)
    clusters = cluster_expenses(tx, n_clusters=8, min_docs=50)
    savings = estimate_savings(tx)

    potential_total = float(savings["potential_saving"].sum()) if isinstance(savings, pd.DataFrame) and not savings.empty else 0.0

    return {
        "summary": summary,
        "top_categories": topcats,
        "recurring": recurring,
        "daily_expenses": daily,
        "spikes_rule": spikes_rule,
        "spikes_ml": spikes_ml,
        "clusters": clusters,
        "savings": savings,
        "potential_savings_total": round(potential_total, 2),
    }

report = build_report(tx)
report["summary"]

{'period': ('2025-07-03', '2026-01-03'),
 'income': 3400138.7,
 'expense': -3405597.75,
 'net': -5459.05,
 'transactions': 1451}

In [16]:
# –Ø—á–µ–π–∫–∞ 14 ‚Äî telegram text rendering

def render_telegram_text(report: Dict, top_n: int = 6) -> str:
    s = report["summary"]
    period = s["period"]
    period_txt = f"{period[0]} ‚Äî {period[1]}" if period else "–Ω–µ–∏–∑–≤–µ—Å—Ç–µ–Ω"

    lines = []
    lines.append(f"üìä –ê–Ω–∞–ª–∏–∑ —Ä–∞—Å—Ö–æ–¥–æ–≤ –∑–∞ –ø–µ—Ä–∏–æ–¥: {period_txt}")
    lines.append(f"‚Ä¢ –û–ø–µ—Ä–∞—Ü–∏–π: {s['transactions']}")
    lines.append(f"‚Ä¢ –î–æ—Ö–æ–¥—ã: {s['income']:.2f}")
    lines.append(f"‚Ä¢ –†–∞—Å—Ö–æ–¥—ã: {s['expense']:.2f}")
    lines.append(f"‚Ä¢ –°–∞–ª—å–¥–æ: {s['net']:.2f}")
    lines.append("")

    topcats = report["top_categories"]
    if isinstance(topcats, pd.DataFrame) and not topcats.empty:
        lines.append("üîù –¢–æ–ø –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Ä–∞—Å—Ö–æ–¥–æ–≤:")
        for _, r in topcats.head(top_n).iterrows():
            lines.append(f"‚Ä¢ {r['category']}: {r['expense_abs']:.2f} (–¥–æ–ª—è {r['share']*100:.1f}%)")
        lines.append("")

    recurring = report["recurring"]
    if isinstance(recurring, pd.DataFrame) and not recurring.empty:
        lines.append("üîÅ –ü–æ—Ö–æ–∂–µ –Ω–∞ —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –ø–ª–∞—Ç–µ–∂–∏ (—Ç–æ–ø-5):")
        for _, r in recurring.head(5).iterrows():
            pt = "–µ–∂–µ–Ω–µ–¥–µ–ª—å–Ω–æ" if r["period_type"] == "weekly" else "–µ–∂–µ–º–µ—Å—è—á–Ω–æ"
            lines.append(f"‚Ä¢ {r['merchant']} ‚Äî {r['median_amount']:.2f} ({pt}), —Ä–∞–∑: {r['occurrences']}")
        lines.append("")

    savings = report["savings"]
    if isinstance(savings, pd.DataFrame) and not savings.empty:
        lines.append("üí° –ì–¥–µ –º–æ–∂–Ω–æ —Å—ç–∫–æ–Ω–æ–º–∏—Ç—å (–æ—Ü–µ–Ω–∫–∞):")
        for _, r in savings.head(5).iterrows():
            lines.append(f"‚Ä¢ {r['category']}: ~{r['potential_saving']:.2f} ‚Üí {r['comment']}")
        lines.append("")
        lines.append(f"üí∞ –ü–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –º–æ–∂–Ω–æ –æ—Ç–ª–æ–∂–∏—Ç—å: ~{report['potential_savings_total']:.2f} –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥")
        lines.append("")

    # –≤—Å–ø–ª–µ—Å–∫–∏
    spikes_rule = report["spikes_rule"]
    spikes_ml = report["spikes_ml"]

    if isinstance(spikes_rule, pd.DataFrame) and not spikes_rule.empty:
        lines.append("‚ö†Ô∏è –î–Ω–∏ —Å –∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–º–∏ —Ä–∞—Å—Ö–æ–¥–∞–º–∏ (–ø—Ä–∞–≤–∏–ª–æ):")
        for _, r in spikes_rule.head(3).iterrows():
            lines.append(f"‚Ä¢ {r['day']}: {r['expense_abs']:.2f}")
        lines.append("")

    if isinstance(spikes_ml, pd.DataFrame) and not spikes_ml.empty:
        lines.append("ü§ñ –î–Ω–∏-–∞–Ω–æ–º–∞–ª–∏–∏ (ML):")
        for _, r in spikes_ml.head(3).iterrows():
            lines.append(f"‚Ä¢ {r['day']}: {r['expense_abs']:.2f}")
        lines.append("")

    return "\n".join(lines).strip()

telegram_text = render_telegram_text(report)
print(telegram_text)

üìä –ê–Ω–∞–ª–∏–∑ —Ä–∞—Å—Ö–æ–¥–æ–≤ –∑–∞ –ø–µ—Ä–∏–æ–¥: 2025-07-03 ‚Äî 2026-01-03
‚Ä¢ –û–ø–µ—Ä–∞—Ü–∏–π: 1451
‚Ä¢ –î–æ—Ö–æ–¥—ã: 3400138.70
‚Ä¢ –†–∞—Å—Ö–æ–¥—ã: -3405597.75
‚Ä¢ –°–∞–ª—å–¥–æ: -5459.05

üîù –¢–æ–ø –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Ä–∞—Å—Ö–æ–¥–æ–≤:
‚Ä¢ –ü—Ä–æ—á–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏: 2967277.45 (–¥–æ–ª—è 87.1%)
‚Ä¢ –≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞: 114768.00 (–¥–æ–ª—è 3.4%)
‚Ä¢ –¢–æ–≤–∞—Ä—ã –¥–ª—è –¥–æ–º–∞: 72520.90 (–¥–æ–ª—è 2.1%)
‚Ä¢ –ö–∞—Ñ–µ –∏ —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã: 59894.20 (–¥–æ–ª—è 1.8%)
‚Ä¢ –§–∏–Ω–∞–Ω—Å–æ–≤—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏: 44231.85 (–¥–æ–ª—è 1.3%)
‚Ä¢ –û–¥–µ–∂–¥–∞ –∏ –æ–±—É–≤—å: 38656.00 (–¥–æ–ª—è 1.1%)

üîÅ –ü–æ—Ö–æ–∂–µ –Ω–∞ —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –ø–ª–∞—Ç–µ–∂–∏ (—Ç–æ–ø-5):
‚Ä¢ –≤–Ω—É—Ç—Ä–∏–±–∞–Ω–∫–æ–≤—Å–∫–∏–π –ø–µ—Ä–µ–≤–æ–¥ –º–µ–∂–¥—É —Å—á–µ—Ç–∞–º–∏ –∏—Å—É–ø–æ–≤ –≥. —Å..—Å–æ —Å—á —Ç–∞ 40817810205601502126 –Ω–∞ —Å—á —Ç 30601810800139496794 ‚Äî 100.00 (–µ–∂–µ–Ω–µ–¥–µ–ª—å–Ω–æ), —Ä–∞–∑: 5

üí° –ì–¥–µ –º–æ–∂–Ω–æ —Å—ç–∫–æ–Ω–æ–º–∏—Ç—å (–æ—Ü–µ–Ω–∫–∞):
‚Ä¢ –ö–∞—Ñ–µ –∏ —Ä–µ—Å—Ç–æ—Ä–∞–Ω—ã: ~11978.84 ‚Üí —á–∞—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞–º–µ–Ω–∏—Ç—å –¥–æ–º–∞—à–Ω–µ–π –µ–¥–æ–π

üí∞ –ü–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –º–æ–∂–Ω–æ –æ—Ç–ª–æ–∂–∏—Ç—å: ~11978.84 –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥

‚ö†Ô∏è –î–Ω–∏ —Å –∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–º–∏ —Ä–∞—Å—Ö–æ–¥–∞–º–∏ (–ø—Ä–∞–≤–∏–ª–æ):
‚Ä¢ 2025-12-25: 123543.00
‚Ä¢ 2025-10-31: 123024.00
‚Ä¢ 2025-11-20: 121173.18

ü§ñ –î–Ω–∏-–∞–Ω–æ–º–∞–ª–∏–∏ (ML):
‚Ä¢ 2025-11-20: 121173.18
‚Ä¢ 2025-12-25: 123543.00
‚Ä¢ 2025-10-31: 123024.00